body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire screen */
    z-index: -1;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: white;
    font-family: 'Apple Color Emoji', 'Segoe UI Emoji', Arial, sans-serif;
}
#logo {
    width: 550px; /* Adjust size as needed */
    height: auto;
    cursor: pointer;
}
.icon-link {
    display: inline-block; /* Ensure proper spacing and hover behavior */
    margin: 10px;
    transition: transform 0.3s ease; /* Smooth transition for scaling */
    color: white; /* Set default color to white */
}
.icon-link:hover {
    transform: scale(1.2); /* Scale up to 1.2 times on hover */
}
.icon-link i {
    font-size: 24px; /* Set font size of icons */
}
h1 {
    cursor: pointer;
    font-size: 36px; /* Adjust size as needed */
}